.podium {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 40px 0;
    gap: 20px;
}

.place {
    width: 150px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.first {
    height: 200px;
    width: 150px;
    background: #0b83e6;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 12px 40px #0b83e6; 
}

.second {
    height: 150px;
    width: 150px;
    background: #d4e20c;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 12px 40px #d4e20c; 
}

.third {
    height: 120px;
    width: 150px;
    background: #cd7f32;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 12px 40px #cd7f32; 
}

.place img {
    width: 80%;
    height: auto;
    border-radius: 20px;
    margin-top: 10px;
}

.place h2 {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
}